@charset "UTF-8";
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 12, ../scss/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 31, ../scss/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, ../scss/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, ../scss/partials/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, ../scss/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 77, ../scss/partials/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, ../scss/partials/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 97, ../scss/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, ../scss/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 119, ../scss/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 128, ../scss/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, ../scss/partials/_normalize.scss */
b,
strong,
.strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 146, ../scss/partials/_normalize.scss */
dfn,
em,
.em {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 156, ../scss/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 165, ../scss/partials/_normalize.scss */
pre {
  margin: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 173, ../scss/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 185, ../scss/partials/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 193, ../scss/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 200, ../scss/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 206, ../scss/partials/_normalize.scss */
small, .small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 214, ../scss/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 222, ../scss/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 226, ../scss/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
  Lists
========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 238, ../scss/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 245, ../scss/partials/_normalize.scss */
dd {
  margin: 0;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 253, ../scss/partials/_normalize.scss */
menu {
  padding: 0 0 0 40px;
}

/* line 257, ../scss/partials/_normalize.scss */
ol,
ul {
  padding: 0;
  list-style-type: none;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 267, ../scss/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
  Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 281, ../scss/partials/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 289, ../scss/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 301, ../scss/partials/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 313, ../scss/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 324, ../scss/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 335, ../scss/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 349, ../scss/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 361, ../scss/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 374, ../scss/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 386, ../scss/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 396, ../scss/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 408, ../scss/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 420, ../scss/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 429, ../scss/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 440, ../scss/partials/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 453, ../scss/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 460, ../scss/partials/_normalize.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 467, ../scss/partials/_normalize.scss */
.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 475, ../scss/partials/_normalize.scss */
.clearfix, .cf {
  zoom: 1;
}
/* line 477, ../scss/partials/_normalize.scss */
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}
/* line 478, ../scss/partials/_normalize.scss */
.clearfix:after, .cf:after {
  clear: both;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 485, ../scss/partials/_normalize.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
SPACING UNITS
*********************/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/******************************************************************
Stylesheet: Mixins Stylesheet


/*********************
MEDIA QUERIES
*********************/
/**
 * Retina displays
 */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/**
 * Create CSS keyframe animations for all vendors in one go, e.g.:
 *
   .foo{
       @include vendor(animation, shrink 3s);
   }
   @include keyframe(shrink){
       from{
           font-size:5em;
       }
   }
 *
 * Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
 */
/* line 1, ../scss/partials/_icons.scss */
.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
}

/*********************
IMPORTING MODULES
*********************/
/* line 1, ../scss/modules/_content.scss */
.content__inner {
  min-width: 300px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}
@media only screen and (min-width: 651px) {
  /* line 1, ../scss/modules/_content.scss */
  .content__inner {
    padding: 0 10px;
  }
}

/* line 12, ../scss/modules/_content.scss */
.content__section {
  width: 100%;
  background: #000;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden !important;
  position: relative;
}

/* line 22, ../scss/modules/_content.scss */
.content__section-heading {
  font-size: 58px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 651px) {
  /* line 22, ../scss/modules/_content.scss */
  .content__section-heading {
    font-size: 120px;
  }
}

/* line 36, ../scss/modules/_content.scss */
.content__section-text {
  width: 100%;
  max-width: 900px;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 651px) {
  /* line 36, ../scss/modules/_content.scss */
  .content__section-text {
    font-size: 28px;
    line-height: 130%;
  }
}

/* line 53, ../scss/modules/_content.scss */
.content__section-icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -16px;
  fill: #fff;
}

/* line 1, ../scss/modules/_project-block.scss */
.project-block--right, .project-block--left {
  margin: 0 0 50px;
}
@media only screen and (min-width: 651px) {
  /* line 1, ../scss/modules/_project-block.scss */
  .project-block--right, .project-block--left {
    margin: 0 0 400px;
  }
  /* line 5, ../scss/modules/_project-block.scss */
  .project-block--right:last-of-type, .project-block--left:last-of-type {
    margin-bottom: 170px;
  }
}

@media only screen and (min-width: 651px) {
  /* line 18, ../scss/modules/_project-block.scss */
  .project-block--left .project-block__info {
    float: right;
  }
  /* line 21, ../scss/modules/_project-block.scss */
  .project-block--left .project-block__title, .project-block--left .project-block__link {
    padding-left: 50px;
  }
  /* line 24, ../scss/modules/_project-block.scss */
  .project-block--left .project-block__image-link--secondary {
    left: -20%;
  }
}

@media only screen and (min-width: 651px) {
  /* line 30, ../scss/modules/_project-block.scss */
  .project-block__image-wrapper, .project-block__image-wrapper--50, .project-block__info--50 {
    display: inline-block;
    width: 60%;
  }
}

@media only screen and (min-width: 651px) {
  /* line 37, ../scss/modules/_project-block.scss */
  .project-block__image-wrapper--50, .project-block__info--50 {
    display: inline-block;
    width: 50%;
  }
}
@media only screen and (min-width: 651px) {
  /* line 43, ../scss/modules/_project-block.scss */
  .project-block__image-wrapper--50 .project-block__image--primary, .project-block__info--50 .project-block__image--primary {
    position: relative;
    left: -20%;
  }
  /* line 47, ../scss/modules/_project-block.scss */
  .project-block__image-wrapper--50 .project-block__image--primary img, .project-block__info--50 .project-block__image--primary img {
    width: 120%;
  }
}
/* line 52, ../scss/modules/_project-block.scss */
.project-block__image-wrapper--50 .project-block__image-link--secondary, .project-block__info--50 .project-block__image-link--secondary {
  left: 0;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 651px) {
  /* line 60, ../scss/modules/_project-block.scss */
  .project-block__info {
    display: inline-block;
    width: 40%;
  }
}

@media only screen and (max-width: 650px) {
  /* line 67, ../scss/modules/_project-block.scss */
  .project-block__secondary-info {
    display: table;
  }
  /* line 70, ../scss/modules/_project-block.scss */
  .project-block__secondary-info .project-block__image-link--secondary {
    display: table-header-group;
  }
}

@media only screen and (min-width: 651px) {
  /* line 76, ../scss/modules/_project-block.scss */
  .project-block__image-link--secondary {
    position: relative;
    top: 70px;
  }
  /* line 80, ../scss/modules/_project-block.scss */
  .project-block__image-link--secondary img {
    width: 120%;
  }
}

/* line 86, ../scss/modules/_project-block.scss */
.project-block__image-link--primary {
  display: none;
}
@media only screen and (min-width: 651px) {
  /* line 86, ../scss/modules/_project-block.scss */
  .project-block__image-link--primary {
    display: inline-block;
  }
}

/* line 93, ../scss/modules/_project-block.scss */
.project-block__icon {
  width: 20px;
  height: 17px;
  position: relative;
  top: 2px;
  margin-left: 5px;
  opacity: 0;
  visibility: none;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

/* line 104, ../scss/modules/_project-block.scss */
.project-block__link {
  font-size: 21px;
  margin: 0;
}
@media only screen and (max-width: 650px) {
  /* line 104, ../scss/modules/_project-block.scss */
  .project-block__link {
    width: 100%;
    display: inline-block;
    border: 1px solid currentColor;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
  }
}
/* line 116, ../scss/modules/_project-block.scss */
.project-block__link:hover .project-block__icon {
  opacity: 1;
  visibility: visible;
}

/* line 1, ../scss/modules/_project.scss */
#fullpage {
  position: relative;
}

/* line 5, ../scss/modules/_project.scss */
.project__image, .project__image--vertical {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width: 651px) {
  /* line 13, ../scss/modules/_project.scss */
  .project__image--vertical {
    height: 100%;
    width: auto;
    padding: 20px;
  }
}

/* line 23, ../scss/modules/_project.scss */
.project__counter {
  position: fixed;
  bottom: 10px;
  right: 20px;
  margin: 0;
  font-size: 16px;
}

/*********************
PRINT STYLESHEET
*********************/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  /* line 13, ../scss/partials/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 21, ../scss/partials/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 26, ../scss/partials/_print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 31, ../scss/partials/_print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 36, ../scss/partials/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../scss/partials/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../scss/partials/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 51, ../scss/partials/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 55, ../scss/partials/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 63, ../scss/partials/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 68, ../scss/partials/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 74, ../scss/partials/_print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
/* line 4, ../scss/partials/_reset.scss */
abbr[title], dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
/* line 11, ../scss/partials/_reset.scss */
u, ins {
  text-decoration: none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
/* line 18, ../scss/partials/_reset.scss */
ins {
  border-bottom: 1px solid;
}

/**
 * So that `alt` text is visually offset if images don’t load.
 */
/* line 25, ../scss/partials/_reset.scss */
img {
  font-style: italic;
}

/**
 * Give form elements some cursor interactions...
 */
/* line 32, ../scss/partials/_reset.scss */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}

/* line 40, ../scss/partials/_reset.scss */
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}

/*********************
GENERAL STYLES
*********************/
/* line 5, ../scss/partials/_base.scss */
html {
  font-size: 62.5%;
  /* Essentially 10px */
  padding: 0;
  min-width: 300px;
}

/* line 10, ../scss/partials/_base.scss */
body {
  padding: 0;
  font-size: 1.6em;
  /* Essentially 16px */
  line-height: 1.5;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 651px) {
  /* line 10, ../scss/partials/_base.scss */
  body {
    font-size: 1.8em;
  }
}

/* line 23, ../scss/partials/_base.scss */
html, body, #container, .content {
  height: 100%;
}

/* line 27, ../scss/partials/_base.scss */
.header {
  display: none;
}

/*********************
LINK STYLES
*********************/
/* line 35, ../scss/partials/_base.scss */
a, a:visited {
  color: #000;
  /* on hover */
  /* on click */
  /* mobile tap color */
}
/* line 39, ../scss/partials/_base.scss */
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: #0d0d0d;
}
/* line 49, ../scss/partials/_base.scss */
a:link, a:visited:link {
  /*
  this highlights links on iPhones/iPads.
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

/******************************************************************
H1, H2, H3 STYLES
******************************************************************/
/* line 63, ../scss/partials/_base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
}
/* line 66, ../scss/partials/_base.scss */
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}

/* line 71, ../scss/partials/_base.scss */
h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

/* line 76, ../scss/partials/_base.scss */
h2, .h2 {
  font-size: 34px;
  line-height: 1.4em;
  display: block;
  margin-bottom: 20px;
}
@media only screen and (min-width: 651px) {
  /* line 76, ../scss/partials/_base.scss */
  h2, .h2 {
    margin: 0;
  }
}

/* line 86, ../scss/partials/_base.scss */
h3, .h3 {
  font-size: 1.125em;
}
@media only screen and (min-width: 770px) {
  /* line 86, ../scss/partials/_base.scss */
  h3, .h3 {
    font-size: 2.1em;
  }
}

/* line 93, ../scss/partials/_base.scss */
img {
  width: 100%;
}

/******************************************************************
COLORS
******************************************************************/
/* line 101, ../scss/partials/_base.scss */
.bg--black {
  background: #000;
}

/* line 105, ../scss/partials/_base.scss */
.bg--white {
  background: #fff;
}

/* line 109, ../scss/partials/_base.scss */
.text--white {
  color: #fff;
}

/* line 113, ../scss/partials/_base.scss */
.text--black {
  color: #000;
}

/*!
 * fullPage 2.8.1
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
/* line 7, ../scss/partials/_scroll.scss */
.fp-enabled body, html.fp-enabled {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

/* line 7, ../scss/partials/_scroll.scss */
#superContainer {
  height: 100%;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-slide {
  float: left;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-slidesContainer {
  float: left;
  position: relative;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-scrollable {
  overflow: hidden;
  position: relative;
}

/* line 7, ../scss/partials/_scroll.scss */
.iScrollIndicator {
  border: 0 !important;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav.right {
  right: 17px;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav.left {
  left: 17px;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-slidesNav.bottom {
  bottom: 17px;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-slidesNav.top {
  top: 17px;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul, .fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-slidesNav ul li {
  display: inline-block;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul li a, .fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial,helvetica,sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  width: auto;
  opacity: 1;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}

/* line 7, ../scss/partials/_scroll.scss */
#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell, .fp-auto-height.fp-section {
  height: auto !important;
}

/* line 7, ../scss/partials/_scroll.scss */
.fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell, .fp-responsive .fp-auto-height-responsive.fp-section {
  height: auto !important;
}

/*# sourceMappingURL=jquery.fullpage.min.css.map */
