Bones.esproj/

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

*.codekit
*.scssc

wp-content/uploads/
wp-config.php
wp-content/cache/supercache/*
wp-content/cache/*
wp-content/wp-cache-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/upgrade/
wp-content/blogs.dir/
Thumbs.db
.svn
.DS_Store
*.bak
.svn
*.swp
*.log
sitemap.xml.gz
sitemap.xml
wp-content/backups/
wp-content/cache/