$header-height: 45px;

.header {
	position: absolute;
	width: 100%;
	background: rgb(255, 255, 255); /* fallback */
	background: rgba(255, 255, 255, 0.9);
	z-index: 3;
	opacity: 0;
	top: 0;
	left: 0;
	height: $header-height;
}

.header__inner {
	position: relative;
}

.header--is-visible { 
	opacity: 1;
}

.single-projects, .error404 {
	.header {
		@extend .header--is-visible;
		position: fixed;
	}
}

.header__logo-text {
	font-size: 18px;
	margin: 0 0 0 20px;
	line-height: $header-height;
}

.header__logo-link {
	text-decoration: none;
}

.header__email {
	position: absolute;
	right: $double-spacing-unit;
	top: 11px;
	font-size: 16px;
	text-decoration: none;
	&:hover {
		text-decoration: line-through;
	}
}

.header {
  .fixed-header & {
    position: fixed;
    top: -2px !important;
    transform: translateZ(0);
    webkit-transform: translateZ(0);
  }
}
