#fullpage {
	position:relative;
}

.project__inner {
	height: 100%;
	min-width: 300px;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 $double-spacing-unit;
	@include media-query(lap-and-up) {
		padding: 0 $base-spacing-unit;
	}
}

.project__image {
	display: block;
	margin: 0 auto;	
	height: auto;
	width: 100%;
	padding: $double-spacing-unit*2 $double-spacing-unit;
}

.project__image--vertical {
	@extend .project__image;
	@include media-query(lap-and-up) {
		height: 90%;
		width: auto;
		padding: $double-spacing-unit*2;
	}
	
}

.project__desc {
	text-align: justified;

}

.project__counter {
	position: fixed;
	bottom: 10px;
	right: 20px;
	margin: 0;
	font-size: 16px;
}